<mat-card style="height: 70vh">
        <mat-card-header>
                <mat-card-title style="margin-left:-18px;">Message Content</mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <div *ngIf="pretty">
                        {{(message$ | async).message | json}}
                </div>
                <div *ngIf="!pretty">
                        {{(message$ | async).rawMessage}}
                </div>
        </mat-card-content>        
        <mat-card-actions>
                <button mat-fab color="primary" matTooltip="Toggle Raw / Pretty View" (click)="togglePretty()"><mat-icon>flip</mat-icon></button>
        </mat-card-actions>
</mat-card>

