<mat-card>
    <mat-card-header>
      <mat-card-title style="margin-left:-18px;">Live Stats</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row">
            <mat-label>Receive Channel: {{(trackStatus$ | async).receiveChannelClient}}</mat-label>
          </div>
          <div fxLayout="row">
            <mat-label>Send Channel: {{(trackStatus$ | async).sendChannelClient}}</mat-label>
          </div>
        <div fxLayout="row">
        <mat-label>Total Totes: {{(trackStatus$ | async).totalTotes}}</mat-label>
      </div>
      <div fxLayout="row">
        <mat-label>Active Totes: {{(trackStatus$ | async).activeTotes}}</mat-label>
      </div>
      <div fxLayout="row">
        <mat-label>Totes Processed: {{(trackStatus$ | async).totesProcessed}}</mat-label>
      </div>
      <div fxLayout="row" *ngFor="let toteName of (trackStatus$ | async).toteNames">
        <mat-label>{{toteName}}</mat-label>
      </div>
    </mat-card-content>
</mat-card>

