mat-label.mat-label-slider {
  padding-top: 14px;
  padding-bottom: 2px;
}

mat-label.mat-label-slide-toggle {
  padding-top: 3px;
  padding-bottom: 15px;
}

mat-slide-toggle.config-slider {
  padding: 8px;
}

[hidden] {
  display: none !important;
}
