<div fxLayout="row wrap" class="container-outer">
  <div class="container-header" fxFlex="100">
      <mat-toolbar color="primary">
        CPAS Stub Control Centre
        <span class="fill-remaining-space"></span>
        <mat-form-field>
          <input matInput placeholder="CPAS Stub Host" #input/>
      </mat-form-field>
      <button mat-mini-fab matTooltip="Set CPAS Server Host / IP" (click)="onConnect(input.value)"><mat-icon>save</mat-icon></button>
      </mat-toolbar>
  </div>  
  <div class="content-container" fxLayout="row wrap" fxFlex="100" class="content-container">
    <div fxflex="10" class="container-left">
      <div fxLayout="column" fxLayoutGap="20px">
        <app-config></app-config>
        <app-dsp-live-stats></app-dsp-live-stats>
      </div>
    </div>
    <div fxFlex="60" fxLayout="column" fxLayoutGap="20px" class="container-outer">
      <app-tote-summary></app-tote-summary>
      <app-tote-messages></app-tote-messages>
    </div>
    <div fxFlex fxLayout="column" class="container-right">
        <app-view-message></app-view-message>
    </div>
  </div>
</div>
