.card-container {
  min-height: 90vh;
}
.fill-remaining-space {
  flex: 1 1 auto;
}

// use the borders for layout visualisation
.container-outer {
  // border: solid 3px #ffc300;
  padding: 10px;
}
.container-header {
  // border: solid 3px #900c3f;
  padding: 10px;
}
.container-content {
  // min-height: 900px;
  // border: solid 3px orchid;
  padding: 10px;
}
.container-stats {
  // border: solid 3px #ff5733;
  padding: 10px;
}
.container-totes {
  // border: solid 3px blue;
  padding: 10px;
}
.container-message {
  // min-height: 900px;
  // border: solid 3px green;
  padding: 10px;
}
