<div fxLayout="row wrap" class="container-outer">
  <div fxFlex="100" class="container-header">
      <mat-toolbar color="primary">
        CPAS Stub Control Centre
        <span class="fill-remaining-space"></span>
        <mat-form-field>
          <input matInput placeholder="CPAS Stub Host" #input/>
      </mat-form-field>
      <button mat-mini-fab matTooltip="Set CPAS Server Host / IP" (click)="onConnect(input.value)"><mat-icon>save</mat-icon></button>
      </mat-toolbar>
  </div>  
  <div class="container-content" fxLayout="row wrap" fxFlex="100">
    <div fxFlex="20" fxFlex.lt-lg="100" fxFlex.lt-xl="30" fxLayout="column" fxLayout.lt-lg="row" fxLayout.lt-sm="column" class="container-stats" fxLayoutGap="20px">
        <div>
          <app-config></app-config>
        </div>
        <div>
          <app-dsp-live-stats></app-dsp-live-stats>
        </div>
    </div>
    <div fxFlex fxFlex.lt-lg="100" fxLayout="column" fxLayoutGap="20px" class="container-totes">
      <div>
        <app-tote-summary></app-tote-summary>
      </div>
      <div>
        <app-tote-messages></app-tote-messages>
      </div>
    </div>
    <div fxFlex="20" fxFlex.lt-xl="100" class="container-message">
        <app-view-message></app-view-message>
    </div>
  </div>
</div>
